@model OgrenciNotMVCProjesi.Models.EntityFramework.TblDersler
@{
    ViewBag.Title = "DersGetir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Güncelle", "Default", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m=>m.DersAd)
        @Html.TextBoxFor(m=>m.DersAd,new { @class="form-control"})
    </div>
    @Html.HiddenFor(m=>m.DersID)
    <div style="margin-top:15px;">
        <button class="btn btn-primary">Güncelle</button>
    </div>
}

