
@{
    ViewBag.Title = "YeniSinav";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div>
        <form method="post" class="form-group">
            <div>
                <label>Öğrenci ID</label>
                <input type="text" class="form-control" name="OgrenciID" />
            </div>
            <div style="margin-top:15px;">
                <label>Ders Adı</label>
                <input type="text" class="form-control" name="DersID" />
            </div>
            <div style="margin-top:15px;">
                <label>Sınav-I</label>
                <input type="text" class="form-control" name="Sinav1" />
            </div>
            <div style="margin-top:15px;">
                <label>Sınav-II</label>
                <input type="text" class="form-control" name="Sinav2" />
            </div>
            <div style="margin-top:15px;">
                <label>Sınav-III</label>
                <input type="text" class="form-control" name="Sinav3" />
            </div>
            <div style="margin-top:15px;">
                <label>Proje</label>
                <input type="text" class="form-control" name="Proje" />
            </div>
            <div style="margin-top:15px;">
                <label>Ortalama</label>
                <input type="text" class="form-control" name="Ortalama" />
            </div>
            <div style="margin-top:15px;">
                <label>Durum</label>
                <input type="text" class="form-control" name="Durum" />
            </div>
            <div style="margin-top:15px;">
                <button class="btn btn-success">Hesapla</button>
            </div>
            <div style="margin-top:15px;">
                <button class="btn btn-success">Sınav Ekle</button>
            </div>
        </form>
            </div>




